.player-form {
    width:70%;
    background-color: #3A3B3F;
    margin: 15px auto;
    padding: 15px;
    border: 2px solid white;
    border-radius: 2px;
    max-width: 1000px;
}


.text-fields label {
    padding: 0.3em 0.5em 0.3em 0;
}

.text-fields input {
    margin-right: 0.5em;
}


