.player-form {
    width:70%;
    background-color: #3A3B3F;
    margin: 15px auto;
    padding: 15px;
    border: 2px solid white;
    border-radius: 2px;
    max-width: 1000px;
}
.add-form-inputs {
    margin-left: 10px;
}


.text-fields label {
    padding: 0.3em 0.5em 0.3em 0;
}

.text-fields input {
    margin-right: 0.5em;
    padding: 3px;
}

@media only screen and (max-width: 650px) {
    .player-form {
        width: 100%;
    }
}

