.checkbox img {
    /* content: url("https://d1u1mce87gyfbn.cloudfront.net/hero/doomfist/hero-select-portrait.png"); */
    width: 75px;
    cursor: pointer;
    background: linear-gradient(to bottom right,black, #3A3B3F);
    /* background-color: #262626; */
    border: 0.3em solid black;
}

input[type=checkbox] {
    display: none;
}

.checkbox {
    display: block;
    position: relative;
    /* border: 1px solid white; */
    margin: 10px;
    
}

.checkbox img:hover {
    opacity: 0.5;
}

.checkbox :checked+img {
   border: 0.3em solid cyan;
   background: linear-gradient(to bottom right,#EE9F3A, #3A3B3F);
}

