.expanded {
    /* width:100%; */
    margin: 0 auto;
    width: 1000px;
    height: unset;
    cursor: default;
}

.expanded img {
    width: 75px;
    background: linear-gradient(to bottom right,#EE9F3A, #3A3B3F);
    border: 1px solid white;
}

.img-wrapper {
    display: block;
    position: relative;
    margin: 10px;
    
}

.expanded-container {
    justify-content: center;
}

.minimize-button {
    margin: 5px 5px 0 0;
    float: right;
}