.landing-page .background-img {
    width: 100vw;
    height: 95vh;
    background-image: 
      linear-gradient(
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0.7)
      ),
      url("/overwatch-imgs/landing-image.png");
      background-repeat: no-repeat;
      background-size: 100vw 100vh;
}

/* .header-text h1 {
    font-weight: 900;
    margin: 0;
    position: absolute; 
    top: 50%;
    left: 50%;
    font-size: 2rem;
    transform: translate(-50%, -50%);
  } */

  .header-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    width:100vw;
  }
  .header-text p {
      font-size: 1.3em;
  }


.topnav.landing-nav {
    margin-bottom: 0;
}

.landing-button {
    background-color: rgba(238,159,58,0.5);
    padding: 10px;
    border: 3px solid #EE9F3A;
    color: white;
    margin-top: 40px;
}

.landing-button:hover {
    background-color: #EE9F3A;
}

.feature-desc {
    height: 350px;
    background: 
      linear-gradient(
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0.2)
      ),
      #fff;
    border-top: 1px solid white;
}

.feature-text {
    width: 500px;
    margin-top: 20px;
    text-align:center;
}
.feature-text h2 {
    font-size: 1.8em;
}
.feature-text p {
    font-size: 1.1em;
}

.feature-wrapper {
    max-width: 1000px;
    width:100%;
    margin: 0 auto;
    color:black;
}

.feature-desc img {
    width: 400px;
    height: 250px;
    margin: 50px 0 0 auto;
    border: 1px solid white;
}

@media only screen and (max-width: 900px) {
    .feature-desc img {
        margin:0;
    }

    .feature-text {
        padding: 0 10px;
    }

    .feature-desc {
        height: 700px;
    }
  }


@media only screen and (max-width: 400px) {
    .feature-desc img {
        width: 100%;
    }
  }