* {
  box-sizing: border-box;
}

body {
  background-color: #262626;
  background-size: cover;
  background-position: center; 
  margin:0;
}

body,
html {
  width: 100%;
  height: 100%;
  font-family: "Lato";
  color: white;
}

button {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, .2);
  font-size: 24px;
  border-radius: 5px;
  background-color: #ecf0f1;
  cursor: pointer;
  margin:10px 0;
}

a {
  color: white;
}

.orange {
  color: #EE9F3A;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.form-error {
    color: red;
    margin: 5px;
}